<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Sign in</title>
  <meta content="Church Management System" name="description"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="https://cdn.prod.website-files.com/688f173c549ed9021650530f/css/churchms-site.webflow.shared.97d02fc96.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<section class="section login">
  <div class="gradient-image"></div>
  <div class="container-large">
    <div class="card-item login">
      <h1 class="heading medium">Sign in</h1>
      <div class="spacer-40"></div>

      <div class="form-block w-form">
        <form id="loginForm" method="post" action="{% url 'login' %}" class="login-form">
          {% csrf_token %}
          <div class="text-box">
            <label for="username class="field-label">Email address</label>
            <input class="text-input w-input" name="username" placeholder="Your email" type="email" id="username" required/>
          </div>

          <div class="text-box">
            <label for="password" class="field-label">Password</label>
            <input class="text-input w-input" name="password" placeholder="Your password" type="password" id="password" required/>
          </div>

          <div class="spacer-16"></div>
          <input type="submit" class="button full-width w-button" value="Sign in"/>
        </form>
        <a href="{% url 'register' %}" class="text-link">Register</a>
      </div>
    </div>
  </div>
</section>

</body>
</html>